{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Initiate Protest</h2>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.non_field_errors }}
              
              <div class="form-group text-center">
                <label for="{{ form.title.id_for_label }}" class="font-weight-bold">Title:</label><br>
                {{ form.title }}
                {{ form.title.errors }}
              </div>

              <div class="form-group text-center">
                <label for="{{ form.location.id_for_label }}" class="font-weight-bold">Location:</label><br>
                {{ form.location }}
                {{ form.location.errors }}
              </div>

              <div class="form-group text-center">
                <label for="{{ form.date.id_for_label }}" class="font-weight-bold">Date:</label><br>
                {{ form.date }}
                {{ form.date.errors }}
              </div>

              <div class="form-group text-center">
                <label for="{{ form.organization.id_for_label }}" class="font-weight-bold">Organization:</label><br>
                {{ form.organization }}
                {{ form.organization.errors }}
              </div>

              <div class="form-group text-center">
                <label for="{{ form.topics.id_for_label }}" class="font-weight-bold">Topics:</label><br>
                <select class="form-control" id="{{ form.topics.id_for_label }}" name="{{ form.topics.name }}" multiple>
                  {% for topic in form.topics %}
                  {{topic}}
                  {% endfor %}
                </select>
                {{ form.topics.errors }}
              </div>

              <div class="form-group text-center">
                <label for="{{ form.details.id_for_label }}" class="font-weight-bold">Details:</label><br>
                {{ form.details }}
                {{ form.details.errors }}
              </div>

              <div class="form-group text-center">
                <label for="{{ form.image.id_for_label }}" class="font-weight-bold">Image:</label><br>
                {{ form.image }}
                {{ form.image.errors }}
              </div>

              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg">Initiate Protest</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
