{% extends 'base.html' %}

{% block title %}Protest List{% endblock %}

{% block content %}
    <style>
        .protest-card {
            margin-bottom: 20px;
            border-radius: 8px;
            overflow: hidden;
            transition: transform 0.3s ease-in-out;
        }

        .protest-card:hover {
            transform: scale(1.05);
        }

        .protest-title {
            font-size: 1.8rem;
            margin-bottom: 10px;
        }

        .protest-details {
            font-size: 1.1rem;
            margin-bottom: 5px;
        }

        .badge-primary {
            margin-right: 5px;
        }
    </style>

    <div class="container">
        <h1 class="mt-4 mb-4 text-center">Upcoming Protests</h1>
        {% for protest in protests %}
            <div class="card mb-3 protest-card">
                <div class="card-body">
                    <h2 class="card-title protest-title">
                        <a href="{% url 'protest_detail' protest.id %}">{{ protest.title }} - {{ protest.date }}</a>
                    </h2>
                    <p class="card-text protest-details">Organization: {{ protest.organization.name }}</p>
                    <p class="card-text protest-details">Topics: 
                        {% for topic in protest.topics.all %}
                            <a href="{% url 'topic_detail' topic.id %}">
                                <span class="badge badge-primary">{{ topic.name }}</span>
                            </a>
                        {% endfor %}
                    </p>
                    <!-- Add more details as needed -->
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
