{% extends 'base.html' %}

{% block title %}
  {{ organization.name }} - Organization
{% endblock %}

{% block content %}
<style>
  .toolbox {
    background-color: #3498db;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .toolbox-link {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
  }

  .organization-details {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
  }

  .card-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .badge-primary {
    margin-right: 5px;
  }

  .demonstrations-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
  }

  .demonstrations-list-item {
    margin-bottom: 10px;
  }
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <!-- Toolbox Section -->
      {% if user_can_edit_organization %}
        <div class="toolbox">
          {% if user_can_edit_organization %}
            <a href="{% url 'organization_update' organization.id %}" class="btn btn-warning">
              Edit Organization
            </a>
            <a href="{% url 'create_protest' %}" class="btn btn-warning">
              New Demonstration
            </a>
          {% endif %}
        </div>
      {% endif %}

      <!-- Main Content -->
      <div class="organization-details">
        <h1 class="mt-4 mb-4 text-center">{{ organization.name }} - Organization</h1>

        <div class="card mb-4">
          <div class="card-body">
            {% if organization.description %}
              <p class="card-text">Description: {{ organization.description }}</p>
            {% endif %}

            {% if organization.location %}
              <p class="card-text">Location: {{ organization.location }}</p>
            {% endif %}

            {% if organization.date_of_foundation %}
              <p class="card-text">Date of Foundation: {{ organization.date_of_foundation }}</p>
            {% endif %}

            {% if organization.contact_email %}
              <p class="card-text">Contact Email: {{ organization.contact_email }}</p>
            {% endif %}

            {% if organization.website %}
              <p class="card-text">Website: {{ organization.website }}</p>
            {% endif %}

            {% if organization.activism_focus %}
              <p class="card-text">Activism Focus: {{ organization.activism_focus }}</p>
            {% endif %}
            <!-- Add more details as needed -->

            <h5 class="card-title">Demonstrations organized by {{ organization.name }}:</h5>

            {% if demonstrations %}
              <ul class="demonstrations-list">
                {% for demonstration in demonstrations %}
                  <li class="demonstrations-list-item">
                    <a href="{% url 'protest_detail' demonstration.id %}">
                      {{ demonstration.location }} - {{ demonstration.date }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>No demonstrations organized by {{ organization.name }}.</p>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
